.list-item {
  padding: 0.25rem;
  font-size: 16px;
  outline: none;

  .input-editting {
    background: none;
    color: $color;
    font-size: 16px;
  }

  .done-task {
    text-decoration: line-through;
    color: #999;
  }

  .container {
    display: flex;
  }

  .action {
    cursor: pointer;
  }

  .button-action {
    background: $bg;
    color: $color;
  }
}
